.bc-comment-form-rating,
.bc-comment-rating {
    justify-content: center;
    align-items: center;
    display: flex;

    &__star {
        display: block;
        height: 20px;
        width: 20px;

        svg {
            height: 100%;
            width: 100%;
        }
    }
}

.bc-comment-form-rating {
    &__star {
        cursor: pointer;
    }
}
